﻿@{
    Layout = null;
    ViewBag.Title = "Welcome";
}
<!DOCTYPE html>
<html ng-app="flightBooker">
<head>
    <base href="/"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Book A Flight With Us</title>
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2015.2.805/styles/kendo.common.min.css">
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2015.2.805/styles/kendo.rtl.min.css">
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2015.2.805/styles/kendo.default.min.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/FlightBooker/Index" class="navbar-brand">Flight Booker</a>)
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/FlightBooker/Index">Home</a></li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Flights<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Flight/Search">Search Flights</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Passengers<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Passenger/Add">Add Passenger</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Airports<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Airport/Detail">View Airports</a></li>
                            <li><a href="/Airport/Edit">Edit Airport</a></li>
                            <li><a href="/Airport/Add">Add Airport</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Airlines<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Airline/Detail">View Airlines</a></li>
                            <li><a href="/Airline/Add">Add Airline</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<div class="container body-content">
    <div ng-view></div>
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application </p>
    </footer>
</div>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/flightBooker")
</body>
</html>

