﻿<div class="row">
    <div class="col-md-10">
        <h2>Add Airport</h2>
    </div>
</div>
<div class="row">
    <div ng-repeat="error in errors">{{error}}</div>
    <form name="airportAddForm" novalidate>
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" ng-model="airport.name" class="form-control" required/>
            <div class="text-danger" ng-show="airportAddForm.name.$error.required">Name is required.</div>
        </div>
        <div class="form-group">
            <label>Airport Code</label>
            <input type="text" ng-model="airport.airportCode" class="form-control" name="airportCode" required/>
            <div class="text-danger"
                 ng-show="airportAddForm.airportCode.$error.required">Airport Code is required.</div>
        </div>
        <div class="form-group">
            <label>City</label>
            <input type="text" ng-model="airport.city" class="form-control" required/>
            <!--<div class="text-danger" ng-show="form.model.$error.required && form.model.$dirty">is required.</div>-->
        </div>
        <div class="form-group">
            <label>State</label>
            <input type="text" ng-model="airport.state" class="form-control" required/>
            <!--<div class="text-danger" ng-show="form.model.$error.required && form.model.$dirty">is required.</div>-->
        </div>
        <div class="form-group">
            <label>Zipcode</label>
            <input type="text" ng-model="airport.zipcode" class="form-control" required/>
            <!--<div class="text-danger" ng-show="form.model.$error.required && form.model.$dirty">is required.</div>-->
        </div>
        <div class="form-group">
            <label>Phone Number</label>
            <input type="text" ng-model="airport.phoneNumber" class="form-control" required/>
            <!--<div class="text-danger" ng-show="form.model.$error.required && form.model.$dirty">is required.</div>-->
        </div>
        <button class="btn btn-default" ng-click="save(airport)" ng-disabled="airportAddForm.$invalid">Save</button>
    </form>
</div>
<div>
    {{airportSave}}
</div>