﻿<div ng-repeat="error in errors">{{error}}</div>
<form name="airlineEditForm" novalidate>
    <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" ng-model="selectedItem.name" class="form-control" required/>
        <div class="text-danger" ng-show="airlineEditForm.name.$error.required">Name is required.</div>
    </div>
    <div class="form-group">
        <label>AIrline Code</label>
        <input type="text" ng-model="selectedItem.airlineCode" class="form-control" name="airlineCode" required/>
        <div class="text-danger"
             ng-show="airlineEditForm.airlineCode.$error.required">Airline code is required.</div>
    </div>
    <div class="form-group">
        <label>Phone Number</label>
        <input type="text" ng-model="selectedItem.phoneNumber" class="form-control" name="phoneNumber" required/>
        <div class="text-danger" ng-show="airlineEditForm.phoneNumber.$error.required">Phone number is required.</div>
    </div>
    <button class="btn btn-default" ng-click="updateAirline(selectedItem)" ng-disabled="airlineEditForm.$invalid">Save</button>
</form>