﻿<ul class="list-group">
    <li class="list-group-item"> Name: {{ selectedItem.name }}</li>
    <li class="list-group-item"> Airline Code: {{ selectedItem.airlineCode }}</li>
    <li class="list-group-item"> Phone Number: {{ selectedItem.phoneNumber }}</li>
</ul>